# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6

print(number)

6

##### Assinging float

In [3]:
numberFloat = 2.3
print(numberFloat)
numberFloat = 7.2
print(numberFloat)

2.3
7.2

#### Performing Calculations on ints and floats

##### Addition

In [6]:
num1 = 2
num2 = 5.4

result= num1 + num2

print(result)

result += 2
print(result)

print(result-2)

7.4
9.4
7.4

##### Subtraction

In [9]:
result_diff = num2 - num1
print(result_diff)

result_diff -= 1
print(result_diff - 1)

3.4000000000000004
1.4000000000000004

##### Multiplication

In [12]:
result_mul = num1 * num2
print(result_mul)

result_mul *= 2
print(result_mul)

10.8
21.6

##### Division

In [14]:
result_div = num2/num1
print(result_div)

result_div /= 3
print(result_div)

2.7
0.9

##### Floor Division

In [16]:
result_floor = num2 // num1
print(result_floor)

result_floor //=2
print(result_floor)

2.0
1.0

##### Modulo

In [18]:
result_mod = 13 % 2
print(result_mod)

result_mod %=2
print(result_mod)

1
1

##### Exponential

In [19]:
square = 5 ** 2
print(square)

square **=2
print(square)

25
625

### String Input-Output

##### String Assignment

In [31]:
name = "Brandon"
print(name)

Brandon

##### print() <br>
<p>Don't forget about end=' '</p>

In [24]:
print("this is my first name: ", name)

print("Full Name: ", name, end=" Apol")

this is my first name:  Brandon
Full Name:  Brandon Apol

##### String Concatenation

In [26]:
first_name = "John"
last_name = "Smith"

full_name = first_name + " " + last_name
print(full_name)

full_name += ",Jr"
print(full_name)

John Smith
John Smith,Jr

##### Type Conversion

In [27]:
number = "32"

change_type_num = int(number)
print(number)
print(change_type_num)

32
32

##### input()

In [29]:
# input will always return a sting

#name = input('What is your name?')
#print("Nice to meet you, " + name)

age = int(input('What is your age?: '))
add_age = age + 5
print(add_age)

What is your age?: 55
60

##### format()

In [33]:
age = input('What is your age? ')

result_string = "You are {} {} and you are getting wiser!" .format(age, name)
print(result_string)

result_again = f"{age} is a great time in life!!"
print(result_again)

What is your age? 45
You are 45 Brandon and you are getting wiser!
45 is a great time in life!!

##### Old Way (python 2)

In [36]:
result_string2 = "You are %s and you look great for yout age!" %age
print(result_string2)

You are 45 and you look great for yout age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [37]:
color = input('What color is your car?')
year = input('What year is your car?')
make = input('What make is your car?')
model = input('What model is your car?')
car = f"In {year} the {make} {model} looked the best when it was {color}!"
print(car)

What color is your car?red
What year is your car?1986
What make is your car?ford
What model is your car?mustang
In 1986 the ford mustang looked the best when it was red!

### If Statements

In [45]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 10
num3 = 0

if num1 == num2:
    print('This is true')
else:
    print('This thing is not true! It is false')
    
if num2 > num1 or num3 > 0:
    print("Num2 is greater")
elif num1 > num2:
    print("Num1 is greater")
else:
    print("Equal value")

This thing is not true! It is false
Num2 is greater

##### 'is' keyword

In [ ]:
# The "is" keyword is for checking for the same object, but not the same value

##### 'in' keyword

In [47]:
# Check if a character is in a string

char_name = "Frodo"
if "Frodo" in char_name:
    print("The ring bearer")

The ring bearer

##### 'not in' keyword'

In [48]:
sega_char = "Sonic"

if "a" not in sega_char:
    print("a is not here")

a is not here

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [50]:
name = input("What is your full name? ")

if "p" in name:
    print("Your name has a 'p'in it")
elif "P" in name:
    print("Your name has a 'P' in it")
else:
    print("Your name does not have the charactor 'p' in it")

What is your full name?Sue Popper
Your name has a 'p'in it

## Using 'and'/'or' with If Statements

In [53]:
num_11 = 15
num_12 = 3
num_13 = 10
num_14 = 3

if num_11 / 5 == num_12 and num_13 - 7 == num_14:
    print("True and True")
    
if num_13 == num_14 or num_11 > num_12:
    print("False and True")

True and True
False and True

### Elif Statements

In [54]:
first_name = input("What is your name? ")

if first_name == 'Smith':
    print('The name is smith')
elif first_name == 'Brandon':
    print('The name is Brandon')
elif first_name != 'Max':
    print('The name is not Max')
else:
    print('The name is Max')

What is your name? Max
The name is Max

### Else Statements

In [ ]:
# see above

### For Loops

In [57]:
name = "Brandon Apol"
print(name)

for letter in name:
    print(letter)

Brandon Apol
B
r
a
n
d
o
n

A
p
o
l

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [59]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [60]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [62]:
for i in name:
    pass

##### Double For Loops

In [ ]:
for i in range(5):
    for j in range(5):
        print('i = ', i, 'j = ', j)

### While Loops

In [ ]:
num = 0

while num < 10:
    print(num)
    num += 1

##### Looping 'While True'

In [1]:
game_over = True

while game_over:
    print('Infinite loop')
    user = input('would you like to stop?')
    if user == 'Yes':
        game_over = False

Infinite loop
would you like to stop?no
Infinite loop
would you like to stop?yes
Infinite loop
would you like to stop?Yes

##### While & For Loops Used Together

In [2]:
num = 0

while num< 5:
    print("\nWhile loop iteration: " + str(num))
    
    for i in range(2):
        print("For loop iteration: ", str(i +1))
        
    num+=1

While loop iteration: 0
For loop iteration:  1
For loop iteration:  2

While loop iteration: 1
For loop iteration:  1
For loop iteration:  2

While loop iteration: 2
For loop iteration:  1
For loop iteration:  2

While loop iteration: 3
For loop iteration:  1
For loop iteration:  2

While loop iteration: 4
For loop iteration:  1
For loop iteration:  2

### Built-In Functions

##### range()

In [3]:
# range(start, stop, step)

for i in range(1, 20, 3):
    print(i)

1
4
7
10
13
16
19

##### len()

In [4]:
name = input("Name of book")

length = len(name)
print(length)

Name of bookwow
3

##### help()

In [6]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

##### isinstance()

In [ ]:
# check variable to find out what object family (or data type) it belongs to
# isinstance(var,type)

num = 4
if isinstance(num, int):
    print(f"{num} is an int!")

##### abs()

In [7]:
print(abs(-5))

5

### Try and Except

In [9]:
# Use this to log out graceful and useful error messages
# Does not stop the program!

try:
    number_test = 0
    input_num = int(input("Guess a number"))
    print("Your number is " + str(input_num))
except:
    print("That didnt work")

Guess a number4
Your number is 4

### Lists

##### Declaring Lists

In [11]:
list_1 = []

names = ["max", "cindy", "kathy", "bob", "nate"]
print(names)

['max', 'cindy', 'kathy', 'bob', 'nate']

##### Indexing a List

In [16]:
#list_name{start: stop: step}
# Single index
print(names[0])

# Print starting at index 1 going to end
print(names[1:])

# Print starting at beginning of a list up until a number
print(names[:2])

# Print starting at index 1 and going up by 2 in each interation
print(names[1::2])

# Print starting at the back and display in reverse order
print(names[::-1])

max
['cindy', 'kathy', 'bob', 'nate']
['max', 'cindy']
['cindy', 'bob']
['nate', 'bob', 'kathy', 'cindy', 'max']

##### .append()

In [17]:
names.append('brandon')
print(names)

['max', 'cindy', 'kathy', 'bob', 'nate', 'brandon']

##### .insert()

In [18]:
names.insert(3, "devon")
print(names)

['max', 'cindy', 'kathy', 'devon', 'bob', 'nate', 'brandon']

##### .pop()

In [19]:
# Defaults to the last value if no parameter is given
# Pop returns the element that was removed in case you want to assign it to a variable

my_name = names.pop(2)
print(my_name)
print(names)

kathy
['max', 'cindy', 'devon', 'bob', 'nate', 'brandon']


##### .remove()

In [22]:
# Value to be removed rather than index
#names.remove("bob")
#print(names)

while "brandon" in names:
    names.remove('brandon')
print(names)

['max', 'cindy', 'devon', 'nate']

##### del()

In [23]:
# Goes by index, rather than value

del(names[1])
print(names)

['max', 'devon', 'nate']

##### Concatenating Two Lists

In [25]:
# This will append two lists together, will not add the values

list_2=[0,1,2]
list_3=[3,4,5]

large_list= list_2 + list_3
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [27]:
#Lists can hold any type of other element! including other lists
# They can go as deep as you want; this is called nesting lists

names = ["max", "steve", "kris", ["brando", "aj", "sue"]]
print(names)
print(names[3][1])

['max', 'steve', 'kris', ['brando', 'aj', 'sue']]
aj

##### Looping Through Lists

In [31]:
# Two ways to loop through a list: one is by index the other is by using the "in" keyword

# By name
for i in range(len(names)):
    print(names[i])
    
# Loop with in
for i in names:
    print(i)

max
steve
kris
['brando', 'aj', 'sue']
max
steve
kris
['brando', 'aj', 'sue']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [44]:
num = 1

while num < 334:
    num1 = num * 3
    print(num1)
    num = num + 1

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99
102
105
108
111
114
117
120
123
126
129
132
135
138
141
144
147
150
153
156
159
162
165
168
171
174
177
180
183
186
189
192
195
198
201
204
207
210
213
216
219
222
225
228
231
234
237
240
243
246
249
252
255
258
261
264
267
270
273
276
279
282
285
288
291
294
297
300
303
306
309
312
315
318
321
324
327
330
333
336
339
342
345
348
351
354
357
360
363
366
369
372
375
378
381
384
387
390
393
396
399
402
405
408
411
414
417
420
423
426
429
432
435
438
441
444
447
450
453
456
459
462
465
468
471
474
477
480
483
486
489
492
495
498
501
504
507
510
513
516
519
522
525
528
531
534
537
540
543
546
549
552
555
558
561
564
567
570
573
576
579
582
585
588
591
594
597
600
603
606
609
612
615
618
621
624
627
630
633
636
639
642
645
648
651
654
657
660
663
666
669
672
675
678
681
684
687
690
693
696
699
702
705
708
711
714
717
720
723
726
729
732
735
738
741
744
747
750
753
756
759
762
765
768
771
774
777
780
783
786
789
792
795
798
801
804
807
810
813
816
819
822
825
828
831
834
837
840
843
846
849
852
855
858
861
864
867
870
873
876
879
882
885
888
891
894
897
900
903
906
909
912
915
918
921
924
927
930
933
936
939
942
945
948
951
954
957
960
963
966
969
972
975
978
981
984
987
990
993
996
999

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [48]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

for num in range(1,100):
    if num > 1:
        for i in range(2, num):
            if (num % i) ==0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [58]:
user = int(input('What is your age? '))

if user < 18:
    print('Kids')
elif user < 66:
    print('Adults')
else:
    print('Seniors')

What is your age? 66
Seniors